@tailwind base;
@tailwind components;
@tailwind utilities;

.root {
  width: 100%;
}

body {
  margin: 0;
  width: 100%;
  font-family: Mulish, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  font-size: xx-large;
  background-color: #54afff;
  height: 75px;
  width: 100%;
  justify-content: space-between;
  margin: 0;
}

.col-half {
  display: flex;
  width: 50%;
  align-items: center;
}

.logo {
  color: orange;
  background-color: #adadad;
  padding: 0.5rem;
  border-radius: 15px;
  font-size: xx-large;
}

.burger {
  font-size: large;
}

.cart,
.user,
.star {
  justify-content: end;
  height: 2rem;
  margin: 0 0.5rem;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.catalog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 70%;
}

.catalog-title {
  width: 100%;
  align-self: flex-start;
  border-bottom: 2px solid black;
}

.catalog {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  height: 380px;
  border: 1px solid black;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid lightgrey;
  margin: 1rem;
  padding: 0.5rem;
  background-color: white;
  width: 200px;
}

.card-img {
  height: 200px;
}

.card-tag-ref {
  height: 0;
  width: 0;
}

.card-tag {
  position: relative;
  width: 80px;
  font-size: medium;
  background-color: #54afff;
  padding: 3px;
  border-radius: 5px;
}

.item-count-ref {
  height: 0;
  width: 0;
}

.item-count {
  position: relative;
  left: 140px;
  bottom: 50px;
  height: 20px;
  width: 30px;
  padding: 0.5rem;
  font-size: larger;
  background-color: lightgray;
  border-radius: 5px;
}

.card-text {
  /* align-self: flex-end; */
}

.carousel {
  display: flex;
  justify-content: center;
}

.carousel-img {
  height: 300px;
}
